<template>
    <div>
        <NavHome/>
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">Flor de loto</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5">Flor de Loto no solo es una tienda online como las demas, aqui te traemos productos de todo tipo y lo mejor es que es traido desde Asia, productos originales</p>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Siguenos para mas</a>
                    </div>
                </div>
            </div>
        </header>
        <section class="page-section bg-primary" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Tenemos todo lo que necesitas!</h2>
                        <hr class="divider light my-4" />
                        <p class="text-white-50 mb-4">Flor de Loto tiene todo lo que necesitas desde mascaras faciales hasta ropa, tambien tenemos productos de tus grupos de Kpop favoritos y todo a bajos precios!</p>
                        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Empezar!</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <h2 class="text-center mt-0">A su servicio</h2>
                <hr class="divider my-4" />
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-gem text-primary mb-4"></i>
                            <h3 class="h4 mb-2">Productos de calidad</h3>
                            <p class="text-muted mb-0">POr que te lo merces productos originales!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                            <h3 class="h4 mb-2">Comprar desde la comodidad de tu casa</h3>
                            <p class="text-muted mb-0">Desde ahora puedes comprar lo que tanto querias y sera llevado hasta ti.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                            <h3 class="h4 mb-2">Envio a todo el pais</h3>
                            <p class="text-muted mb-0">Envios a todas partes del pais y con un regalo sorpresa  por su compra!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-heart text-primary mb-4"></i>
                            <h3 class="h4 mb-2">Envios con amor</h3>
                            <p class="text-muted mb-0">Por que tu eres  primero</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio-->
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="/images/portfolio/fullsize/1.jpg">
                            <img class="img-fluid" src="/images/portfolio/thumbnails/1.jpg" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Muñecos</div>
                                <div class="project-name">Xiao Zhan</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="/images/portfolio/fullsize/2.jpg">
                            <img class="img-fluid" src="/images/portfolio/thumbnails/2.jpg" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">The Untamed</div>
                                <div class="project-name">Lan Zhan y Wei Ying</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="/images/portfolio/fullsize/3.jpg">
                            <img class="img-fluid" src="/images/portfolio/thumbnails/3.jpg" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Muñecos</div>
                                <div class="project-name">Wang Yibo</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="/images/portfolio/fullsize/4.jpg">
                            <img class="img-fluid" src="/images/portfolio/thumbnails/4.jpg" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Lacteos</div>
                                <div class="project-name">Mengniu's Chunzhen Yogurt</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="/images/portfolio/fullsize/5.jpg">
                            <img class="img-fluid" src="/images/portfolio/thumbnails/5.jpg" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Bebidas</div>
                                <div class="project-name">Bebida sabor a durazno</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="/images/portfolio/fullsize/6.jpg">
                            <img class="img-fluid" src="/images/portfolio/thumbnails/6.jpg" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Bebidas</div>
                                <div class="project-name">Bebida sabor a durazno</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6" v-for="(post,index) in publicaciones.data" :key="index">
                        <a class="portfolio-box" :href="post.photo">
                            <img class="img-fluid" :src="post.photo" alt="" />
                            <div class="portfolio-box-caption p-3">
                                <div class="project-category text-white-50">{{post.title}}</div>
                                <div class="project-name">Precio:{{post.price}}Bs</div>
                                <div class="project-name">{{post.body.substr(0,200)}}...</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to action-->
        <section class="page-section bg-dark text-white">
            <div class="container text-center">
                <h2 class="mb-4">Empieza con tus compras ya !</h2>
                <a class="btn btn-light btn-xl" href="https://startbootstrap.com/theme/creative/">empezar ahora!</a>
            </div>
        </section>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="mt-0">Mantengamosno en contacto!</h2>
                        <hr class="divider my-4" />
                        <p class="text-muted mb-5">Listo para comenzar tus pedidos? Llamanos o envianos un correo electronico si tienes problemas y te responderemos lo antes posible!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                        <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                        <div>+1 (555) 123-4567</div>
                    </div>
                    <div class="col-lg-4 mr-auto text-center">
                        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                        <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                        <a class="d-block" href="mailto:flordeloto@gmail.com">flordeloto@gmail.com</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
import{mapGetters ,mapActions} from 'vuex'
import NavHome from '../components/NavHome'
export default {
    name:"Home",
    components:{NavHome},
    computed:{
        ...mapGetters({
            publicaciones:'post/get_publicaciones'
        })
    },

    methods:{
        ...mapActions({
            get_publicaciones:'post/get_todas_publicaciones',
        }),
    },
    created(){
        this.get_publicaciones()
    },
      
}
</script>