<!--<template>
    <form action="#" @submit.prevent = "submit">
        <div>
            <label for="email">Correo electronico</label>
            <input type="email" name="email" id="email" v-model="form.email">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="text" name="password" id="password" v-model="form.password">
        </div>
        <button type="submit">Iniciar Session</button>
    </form>

</template>-->

<template>
     <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2 img-login" style=""></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <h3><strong >Inicio de Sesion</strong></h3>
            <form action="#" method="post" @submit.prevent = "submit">
              <div class="form-group first">
                <label for="username">Username</label>
                <input type="email" class="input 100" name="email" placeholder="your-email@gmail.com" id="Correo Electronico" v-model="form.email" >
              </div>
              <div class="form-group last mb-3">
                <label for="password">Password</label>
                <input type="password" class="input 100" name="password"  placeholder="Your Password" id="Contraseña" v-model="form.password">
              </div>
              <input type="submit" value="Iniciar" class="btn btn-block btn-primary">

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions} from 'vuex'
export default {
    name:"SignIn",
    data(){
        return{
            form:{
                email:'',
                password:''
            }
            
        }
    },
    methods:{
        ...mapActions({
            signIn:'auth/signIn'
        }),
        async submit(){
          try {
            await this.signIn(this.form)
            this.$router.replace({name:'dashboard.post'})
          } catch (error) {
              let msgError = ''
				      let obj = error.response.data.errors
				      for(var prop in obj){
				      	if(!obj.hasOwnProperty(prop)) continue
					          obj[prop].forEach(element => {
						       msgError = element + ' ' + msgError
					      });
              }
            this.$swal({
              icon: 'error',
              title: 'Oops...',
              text: msgError,
            })
          }
        }
    }
}
</script>