<!--<template>
    <form action="#" @submit.prevent = "submit">
        <div>
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" v-model="form.name">
        </div>
        <div>
            <label for="email">Correo electronico</label>
            <input type="email" name="email" id="email" v-model="form.email">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="text" name="password" id="password" v-model="form.password">
        </div>
        <div>
            <label for="password">Confirmar Contraseña</label>
            <input type="text" name="password_confirmation" id="password_confirmation" v-model="form.password_confirmation">
        </div>
        <button type="submit">Registrarse</button>
    </form>
</template>-->
<template>
    <div>
        <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="/images/signup-bg.jpg" alt="login" class="login-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <p class="login-card-description">Registrarse</p>
              <form action="#" @submit.prevent = "submit">
                   <div class="form-group">
                    <label for="name" class="sr-only">Nombre</label>
                    <input type="text" name="name" id="name" class="form-control" placeholder="Nombre de Usuario" v-model="form.name">
                  </div>
                  <div class="form-group">
                    <label for="email" class="sr-only">Correo Electronico</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Correo Electronico" v-model="form.email">
                  </div>
                  <div class="form-group mb-4">
                    <label for="password" class="sr-only">Password</label>
                    <input type="text" name="password" id="password" class="form-control" placeholder="Contraseña" v-model="form.password">
                  </div>
                  <div class="form-group mb-4">
                    <label for="password" class="sr-only">Confirmar Contraseña</label>
                    <input type="text" name="password_confirmation" id="password_confirmation" class="form-control" placeholder="Confirmar contraseña" v-model="form.password_confirmation">
                  </div >
                  <button type="submit" class="btn btn-block login-btn mb-4" >Registrarse</button>
                </form>
               
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
    </div>
</template>
<script>
import {mapActions} from 'vuex'
export default {
    name:"SignUp",
    data(){
         return {
            form:{
                name:'',
                email:'',
                password:'',
                password_confirmation:''
            }
        }
    },
    methods:{
        ...mapActions({
             send:'auth/signUp'
        }),
        async submit(){
            await this.send(this.form)
            this.$router.replace({name:'dashboard'})
        }
    }
}
</script>