<template>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Flor de Loto</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0" v-if="!authenticated">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Servicios</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Fotos</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contactos</a></li>
                         <li class="nav-item">
                            <router-link to="/signin" class="nav-link js-scroll-trigger">Inicio de Sesion</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link to="/signup" class="nav-link js-scroll-trigger">Registro</router-link>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto my-2 my-lg-0" v-else>
                        <li class="nav-item">
                            <router-link to="/" class="nav-link js-scroll-trigger">Principal</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link to="/profile" class="nav-link js-scroll-trigger"><b>{{user.name}}</b></router-link>
                        </li>
                        <li class="nav-item">
                            <a href="#" @click.prevent="logout" class="nav-link js-scroll-trigger">Cerrar Session</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
</template>

<script>
import{mapGetters ,mapActions} from 'vuex'
export default {
    name:'NavHome',
     computed:{
        ...mapGetters({
            authenticated:'auth/authenticated',
            user:'auth/user'
        })

    },
    methods:{
        ...mapActions({
            signOut:'auth/signOut',
        }),
        async logout(){
            await this.signOut()
            this.$router.replace({name:'home'})
        }
    },
}
</script>

